
.header{
    height: 10vh;
    background-color: #334366;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #fff;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999999;
}

.container{
    height: auto;
    background-color: #192133;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px;
    
    
}